*.o
*.a
*.so
*.dll
*.dynlib
bin
build
results
.directory
.Rproj.user
.Rhistory
.RData
my_kernel_helper_file.aux
Xcode
liquid*.tgz
liquid*.tar.gz
liquid-svm*.zip
liquid-svm
liquid*.tgz
Simons*.tar.gz
simons-svm*.tar.gz
simons-svm*.zip
simons-svm
*.Rcheck
*.log
*.out
*.blg
*.run.xml
*.synctex.gz
*.sol
*.fsol
tmp
pub
data/covtype-full.train.csv
data/covtype-full.test.csv
mloss
big-data
liquidSVM/*
